# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Секреты
.env

# База данных
bot.db
bot.db-journal

# Логи
*.log

# IDE
.idea/
.vscode/
.DS_Store

# Приватные файлы (только в платной версии)
bot_handlers.py
yandex_sheets.py
database.py